<footer id="footer">
  <div class="footer-main">
    <div class="footer-social">
      <a class="btn" href="https://www.facebook.com/Lesev1c">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn" href="https://www.instagram.com/leske_plocasti_namestaj/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="footer-about">
      <div class="footer-text footer-zasto">
        <h2>Zašto mi</h2>
        <ol>
          <li>Jeftina i kvalitetna izrada</li>
          <li>Brza usluga</li>
          <li>Dobra lokacija</li>
          <li>Bogat izbor materijala</li>
          <li>Mogućnost svih vrsta dogovora</li>
        </ol>
      </div>
      <div class="footer-text footer-kategorija">
        <h2>Kategorije proizvoda</h2>
        <ol>
          <a routerLink="product/kuhinje"><li><i class="fas fa-caret-right"></i> Kuhinje</li></a>
          <a routerLink="product/tv-komode"><li><i class="fas fa-caret-right"></i> TV Komode</li></a>
          <a routerLink="product/police"><li><i class="fas fa-caret-right"></i> Police</li></a>
          <a routerLink="product/komode"><li><i class="fas fa-caret-right"></i> Komode</li></a>
          <a routerLink="product/garderoberi-i-ormari"><li><i class="fas fa-caret-right"></i> Garderoberi i ormari</li></a>
          <a routerLink="product/kancelarijski-stolovi"><li><i class="fas fa-caret-right"></i> Kancelarijski stolovi</li></a>
          <a routerLink="product/predsoblja-i-cipelari"><li><i class="fas fa-caret-right"></i> Predsoblja i cipelari</li></a>
          <a routerLink="product/katalog-boja"><li><i class="fas fa-caret-right"></i> Katalog boja</li></a>
          <a routerLink="product/kupatilski-namestaj"><li><i class="fas fa-caret-right"></i> Kupatilski namestaj</li></a>
        </ol>
      </div>
      <div class="footer-text footer-navigacija">
        <h2>Navigacija</h2>
        <ol>
          <a routerLink="/"><li>Početna</li></a>
          <a routerLink="aboutus"><li>O nama</li></a>
          <a routerLink="contact"><li>Kontakt</li></a>
          <a routerLink="/"><li>Proizvodi</li></a>
        </ol>
      </div>
      <div class="footer-text footer-kontakt">
        <h2>Kontakt</h2>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Adresa: <br>
            Meše Selimovića bb, 36300, Novi Pazar </li>
          <li><i class="fas fa-phone"></i> Broj telefona: <br> 060 0540 340 <span class="footer-phone"></span> </li>
          <li><i class="fas fa-envelope"></i> Email: stefan.lesevic5@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <p>Sva prava zadržava © 2019 <a href="http://darpet.net/" style="text-decoration: underline;">Darpet</a> tim </p>
  </div>
</footer>
