<section [@slideIn]>
    <div id="section-A">
        <div class="heading">
            <h3>O nama</h3>
        </div>

        <div class="about">
            <div class="about-a">
                <img src="/assets/img/o-nama.jpg" alt="isporuka">
            </div>
            <div class="about-b">
                <p>
                    Proizvodnja nameštaja <a href="">“Leške”</a> iz Novog Pazara osnovana je 2015. godine.
                    <br>
                    U segmentu odnosa prema klijentima naš moto poslovanja je jednostavan i glasi "Kupac je
                    uvek u
                    pravu".
                    <br>
                    Naša firma ima velike ambicije na području proizvodnje i distribucije pločastog nameštaja za
                    opremanje
                    kuće i doma na tržištu regiona i Novog Pazara.
                    <br>
                    Kvalitet i niske cene čine stub na kome se gradi poverenje i dugoročan
                    odnos sa kupcima.
                    <br>
                    Naš predan rad i posvećenost "Leške" pločastog nameštaja ogleda se u zadovoljstvu brojnih kupaca.
                    <br>
                    <br>
                    Iskustva i komentare naših kupaca možete pogledati ispod.
                </p>
            </div>
        </div>
    </div>

    <div id="section-B">
        <div class="comments">
            <h3>Utisci</h3>

            <ul>
                <li>
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sto i ormarić za šminku je odrađen baš kako sam zamislila. Kvalitet i estetika na visokom nivou,
                        nemam
                        ni
                        jednu zamerku. Svaka čast!
                    </p>
                    <h4>Marija</h4>
                </li>
                <li>
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Napravili su kuhinju kakvu sam oduvek želela. Stefan je pravi profesionalac, njegove sugestije
                        su mi
                        puno
                        pomogle, svi saveti koje mi je dao u vezi boja, vrsti ručica i materijala su bili korisni i
                        drago mi je
                        što
                        sam ga poslušala.
                    </p>
                    <h4>Saniha</h4>
                </li>
                <li>
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Ja ispričao kako želim, oni realizovali - bez ikakvih problema i sve po meri, police za radnju
                        koje su
                        uradili su stvarno kvalitetne, mislim da nigde ne bi našao takve da sam tražio gotove. Radnja
                        izgleda
                        moderno i pre svega sve je izdržljivo i praktično.
                    </p>
                    <h4>Boris</h4>
                </li>
                <li>
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Stefan i njegova ekipa su uradili vrhunske američke plakare, odlično iskorišćen prostor,
                        praktično, a
                        pre
                        svega lepo. Nisam mogla da zamislim da ću imati toliko prostora za odeću a da opet plakari ne
                        zauzmu
                        polovinu prostorije.
                    </p>
                    <h4>Melisa</h4>
                </li>
                <li>
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Pomogli su mi da odlučim i na kraju je kuhinja ispala super. Dvoumio sam se između dva moguća
                        rasporeda
                        i na kraju sam zahvaljujući Stefanovoj pomoći doneo pravu odluku. Hvala.
                    </p>
                    <h4>Edin</h4>
                </li>
                <li>
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Soba mi je dobila potpuno novu dimenziju sa plakarima koje su napravili. Moram reći da sam
                        zadovoljna i
                        brzinom kojom su sve montirali i sredili. Sigurno ćemo opet sarađivati kada kuhinja bude na
                        redu.
                        Preporuka
                        za pločasti nameštaj Leške.
                    </p>
                    <h4>Dejan</h4>
                </li>
            </ul>
        </div>
    </div>
</section>