$modal-color: #3a04b4;
$dark-blue: #0A1540;
$snow: #EDEDEE;

$menu-mob-background: #333;

//main gradient
$main-linear-color: #240881, #2b0892, #3206a3, #3a04b4, #4300c5;

//curves colors
$background-curve-header: #4300C5;
$background-curve-sec-B-first: #240881;
$background-curve-sec-B-second: #4300C5;

