<main [@slideIn]>
  <section id="section-A">
    <div class="section-A-left">
      <h1>Vaše mere. <br>
        Vaš dizajn. <br>
        Vaš stil.
      </h1>
      <a href="tel:0600540340"><i class="fas fa-phone"></i> 060 0540 340 </a>
    </div>
    <div class="section-A-right">
      <ngx-glide 
      [showArrows]="false" 
      [showBullets]="false" 
      [autoplay]="4000"
      [animationDuration]="600"
      [hoverpause]="false"
      [bound]="true"
      [touchAngle]="false"> 
        <div class="slide1">
          <img>
        </div>
        <div class="slide2" >
          <img>
        </div>
        <div class="slide3">
          <img>
        </div>
        <div class="slide4">
          <img>
        </div>
      </ngx-glide>
    </div>
  </section>

  <section id="section-B">
    <ul>
      <li>
        <div class="blocks">
          <div class="block-image">
            <img src="../../assets/img/bulb.gif" alt="ideja">
            <h2>IDEJA</h2>
          </div>
          <p>
            Ukoliko Vam je potrebna nova kuhinja, spavaća soba, 
            ormar, police, američki plakari ili bilo koji tip pločastog
            nameštaja prema odgovarajućim merama, na pravom ste mestu.
          </p>
        </div>
      </li>
      <li>
        <div class="blocks">
          <div class="block-image">
            <img src="../../assets/img/plan.gif" alt="kreiranje projekta">
            <h2>KREIRANJE <br>
              PROJEKTA
            </h2>
          </div>
          <p>
            Nakon što ste uzeli mere vaše prostorije ili je to stolar uradio za Vas, prosleđujete nam mere za vrstu pločastog
            nameštaja koji želite.
          </p>
        </div>
      </li>
      <li>
        <div class="blocks">
          <div class="block-image">
            <img src="../../assets/img/tree.gif" alt="izbor zeljenih materijala">
            <h2>IZBOR <br>
              ŽELJENIH <br>
              MATERIJALA
            </h2>
          </div>
          <p>
            Naše stručno osoblje pomoći će Vam u odabiru materijala. Odnos cene i kvaliteta će Vas iznenaditi. 
            Sve će biti u skladu  sa Vašim željama i potrebama.
          </p>
        </div>
      </li>
      <li>
        <div class="blocks">
          <div class="block-image">
            <img src="../../assets/img/paintbrush.gif" alt="izbor dekora">
            <h2>IZBOR <br>
              DEKORA
            </h2>
          </div>
          <p>
            U našoj širokoj paleti dekorativnih materijala birate boju i površinsku obradu koja će
            vizuelno oplemeniti Vaš komad pločastog nameštaja.
          </p>
        </div>
      </li>
      <li>
        <div class="blocks">
          <div class="block-image">
            <img src="../../assets/img/driller.gif" alt="proizvodnja">
            <h2>PROIZVODNJA</h2>
          </div>
          <p>
            Izabrani materijal šalje se na obradu prema prethodno definisanim dimenzijama, u odnosu na mere koje su utvrđene. Element se
            optimizuje, reže, kantuje.
          </p>
        </div>
      </li>
      <li>
        <div class="blocks">
          <div class="block-image">
            <img src="../../assets/img/delivery.gif" alt="isporuka">
            <h2>ISPORUKA</h2>
          </div>
          <p>
            Javljamo Vam kad izrada Vašeg pločastog nameštaja bude gotova, roba se utovara i sprema za isporuku na
            dogovorenu adresu.
          </p>
        </div>
      </li>
    </ul>
  </section>

  <section id="section-C">
      <ngx-glide 
      [showArrows]="false" 
      [showBullets]="false" 
      [animationDuration]="600"
      [perView]="1"
      [hoverpause]="false"
      [autoplay]="6000"
      [touchAngle]="false"> 
        
      <div class="comments">
        <div class="card-sub">
          <div class="card-a">
            <picture>
              <source srcset="/assets/img/edin.webp" type="image/webp">
              <source srcset="/assets/img/edin.gif" type="image/gif">
              <img src="/assets/img/edin.gif" alt="isporuka">
            </picture>
          </div>
          <div class="card-b">
            <h4>Edin</h4>
            <p>Odlično odrađena stolarija sobe, lepo i praktično. Sve se uklopilo onako kako sam hteo. Moja preporuka.</p>
          </div>
        </div>
        <div class="card-sub">
          <div class="card-a">
            <picture>
              <source srcset="/assets/img/marija.webp" type="image/webp">
              <source srcset="/assets/img/marija.gif" type="image/gif">
              <img src="/assets/img/marija.gif" alt="isporuka">
            </picture>
          </div>
          <div class="card-b">
            <h4>Marija</h4>
            <p>Sto i ormarić za šminku je odrađen baš kako sam zamislila, nemam ni jednu zamerku. Svaka čast!</p>
          </div>
        </div>
        <div class="card-sub">
          <div class="card-a">
            <picture>
              <source srcset="/assets/img/saniha.webp" type="image/webp">
              <source srcset="/assets/img/saniha.gif" type="image/gif">
              <img src="/assets/img/saniha.gif" alt="isporuka">
            </picture>
          </div>
          <div class="card-b">
            <h4>Saniha</h4>
            <p>Napravili su kuhinju kakvu sam oduvek želela. Stefan je pravi stručnjak njegove sugestije su mi puno pomogle.</p>
          </div>
        </div>
      </div>

      <div class="comments">
        <div class="card-sub">
          <div class="card-a">
            <picture>
              <source srcset="/assets/img/boris.webp" type="image/webp">
              <source srcset="/assets/img/boris.gif" type="image/gif">
              <img src="/assets/img/boris.gif" alt="isporuka">
            </picture>
          </div>
          <div class="card-b">
            <h4>Boris</h4>
            <p>Ja ispričao kako želim, oni realizovali - bez problema i sve po meri, police koje su uradili su stvarno kvalitetne.</p>
          </div>
        </div>
        <div class="card-sub">
          <div class="card-a">
            <picture>
              <source srcset="/assets/img/melisa.webp" type="image/webp">
              <source srcset="/assets/img/melisa.gif" type="image/gif">
              <img src="/assets/img/melisa.gif" alt="isporuka">
            </picture>
          </div>
          <div class="card-b">
            <h4>Melisa</h4>
            <p>Stefan i njegova ekipa su mi uradili vrhunske američke plakare, praktični su, kvalitetni i pre svega lepi.</p>
          </div>
        </div>
        <div class="card-sub">
          <div class="card-a">
            <picture>
              <source srcset="/assets/img/dejan.webp" type="image/webp">
              <source srcset="/assets/img/dejan.gif" type="image/gif">
              <img src="/assets/img/dejan.gif" alt="isporuka">
            </picture>
          </div>
          <div class="card-b">
            <h4>Dejan</h4>
            <p>Soba mi je dobila potpuno novu dimenziju sa plakarima koje su napravili. Preporuka za pločasti nameštaj Leške.</p>
          </div>
        </div>
      </div>
    </ngx-glide>
  </section>
</main>