<section>
  <form (submit)="onSaveProduct()" [formGroup]="form" id="adminPanel">
    <label for="kategorija">Izaberite kategoriju proizvoda:</label>
    <br>
    <select formControlName="product" required>
      <option *ngFor="let product of products" [ngValue]="product" [disabled]="product === form.controls.product.value">{{ product }}</option>
    </select>
    <hr>
    <button (click)="filePicker.click()">Izaberite sliku</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    <hr>
    <div class="details">
      <div class="details-a">
        <label for="title">Unesite naslov proizvoda:</label>
        <br>
        <input type="text" formControlName="title" name="title">
      </div>
      <div class="details-b">
        <label for="title">Unesite cenu proizvoda:</label>
        <br>
        <input type="text" formControlName="price" name="price">
      </div>
    </div>
    <label for="description">Unesite opis proizvoda:</label>
    <br>
    <textarea rows="6" type="text" formControlName="description" name="description"></textarea>
    <button type="submit">Potvrdi</button>
  </form>

  <div class="message" [ngClass]="{'message-active': this.message}">
    <p>Dodali ste proizvod</p>
  </div>
</section>

